<%= form_for(@collection, :html=>{:class => 'container'}) do |f| %>

  <% if @collection.errors.any? %>
    <div class="alert alert-error alert-block">
      <h4><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h4>
      <br/>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control'  %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= f.label :link %>
        <%= f.text_field :link, :class => 'form-control' %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control'  %>
      </div>

    </div>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>

<% end %>
