<div class="row">
  <div class="col-md-12">

    <h2 class="pull-left">Collections</h2>
    
    <ul class="nav nav-pills pull-right" style="margin-top: 1em">
      <li>
        <%= link_to 'New Collection', new_collection_path %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-striped">
      <thead>
        <tr>
          <th width="300px">Name</th>
          <th>Link</th>
          <th width="100px"></th>
        </tr>
      </thead>
      <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td><%= link_to collection.name, collection %></td>
          <td><%= collection.link %></td>
          <td>
             <%= link_to collection, :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-th-list"></span>
             <% end %>
             <%= link_to edit_collection_path(collection), :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-pencil"></span>
             <% end %>
             <%= link_to collection, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-trash"></span>
             <% end %>
          </td>
         </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
