<%= form_for(@book, :html=>{:multipart=>true, :class => 'container'}) do |f| %>
  
  <% if @book.errors.any? %>
    <div class="alert alert-error alert-block">
      <h4><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h4>
      <br/>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title_vo, "VO Title" %>
        <%= f.text_field :title_vo, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category_id, Category.all.map {|c| [c.name, c.id]}, {:prompt => 'Select category'}, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :collection %>
        <%= f.select :collection_id, Collection.all.map {|c| [c.name, c.id]}, {:prompt => 'Select collection', :include_blank => '- None -'}, :class => "form-control" %>
      </div>
      
       <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :year %>
        <%= f.number_field :year, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :reading_date %>
        <%= f.text_field :reading_date, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :pages %>
        <%= f.number_field :pages, :class => "form-control" %>
      </div>
     
      <div class="form-group">
        <%= f.label :editorial %>
        <%= f.text_field :editorial, :class => "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :isbn %>
        <%= f.text_field :isbn, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, :class => "form-control" %>
      </div>

    </div>


    <div class="col-md-5-offset-1">

      <div class="form-group">
        <%= f.file_field :cover, :class => "form-control" %>
        <% if not @book.cover.nil?  %>
           <br />
           <%= image_tag("/books/#{@book.id}/cover", :alt => "Image", :class => 'cover') %>
           <br />
        <% end %>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
       
      <div class="form-group">
        <%= f.label :abstract %>
        <%= f.text_area :abstract, :rows => "10", :style => "width: 90%", :class => "form-control" %>
      </div>

    </div>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>
     
<% end %>
