<div class="row">
  <div class="col-md-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th width="150px">Category</th>
          <th width="400px">Title</th>
          <th width="150px">Collection</th>
          <th width="200px">Author</th>
          <th>Year</th>
          <th>C</th>
          <th>A</th>
          <th width="100px"></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="center"><%= link_to book.category.name, book.category %></td>
          <td><%= link_to book.title, book %></td>
          <td><%= (not book.collection.nil?) ? link_to(book.collection.name, book.collection) : "" %></td>
          <td><%= book.author %></td>
          <td class="right"><%= book.year %></td>
          <td class="center"><% if not book.cover.nil? %>&#10004;<% end %></td>
          <td class="center"><% if not book.abstract.nil? %>&#10004;<% end %></td>
          <td>
             <%= link_to book, :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-book"></span>
             <% end %>
             <%= link_to edit_book_path(book), :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-pencil"></span>
             <% end %>
             <%= link_to book, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-xs" do %>
               <span class="glyphicon glyphicon-trash"></span>
             <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
