<div class="row">
  <div class="span12">

    <h2 class="pull-left">Listing books</h2>
    
    <ul class="nav nav-pills pull-right" style="margin-top: 1em">
      <li>
        <%= link_to 'New Book', new_book_path %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th width="150px">Category</th>
          <th width="350px">Title</th>
          <th width="200px">Author</th>
          <th>Year</th>
          <th>C</th>
          <th>A</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="center"><%= book.category.name %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td class="right"><%= book.year %></td>
          <td class="center"><% if not book.cover.nil? %>&#10004;<% end %></td>
          <td class="center"><% if not book.abstract.nil? %>&#10004;<% end %></td>
          <td><%= link_to 'S', book, :class => "btn-small btn-success" %></td>
          <td><%= link_to 'E', edit_book_path(book), :class => "btn-small btn-primary"%></td>
          <td><%= link_to 'D', book, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn-small btn-danger" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
