<%= form_for(@category, :html=>{:class => 'container'}) do |f| %>

  <% if @category.errors.any? %>
    <div class="alert alert-error alert-block">
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>
      <br/>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, :class => 'form-control'  %>
      </div>

    </div>
  </div>

  <%= f.submit :class => 'btn btn-primary' %>

<% end %>
